@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "arial", "sans-serif";
  font-size: 7.5px;
  width: 100%;
  height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
footer,
section,
main,
article {
  font-family: "Roboto", "arial", "sans-serif";
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #293347;
  font-weight: 200;
  line-height: 1.2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  font-size: 100%;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

legend {
  color: #293347;
}

legend,
caption {
  text-indent: -15000px;
  height: 0;
  width: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

label,
button {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

a {
  color: #293347;
  text-decoration: none;
}

i {
  font-style: normal;
}

#wrap {
  width: 100%;
}

header {
  background: #ff2d60;
  width: 100%;
  padding: 0 18px;
  height: 48px;
  display: flex;
  align-items: center;
}

header>h1 {
  height: 48px;
}

header>h1>a>img {
  height: 100%;
}

main {
  width: 96.7%;
  margin: 0 auto 32px auto;
}

main section {
  margin-top: 30px;
}

main section h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

main section.popular-hostel-list ol {
  width: 100%;
  display: flex;
}

main section.popular-hostel-list ol li {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s linear;
}

main section.popular-hostel-list ol li .hostel-info {
  display: flex;
  height: 210px;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  bottom: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

main>section.popular-hostel-list ol li img {
  width: auto;
  transition: all .3s linear;
}

main section.popular-hostel-list ol li .hostel-info h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 5px;
}

main section.popular-hostel-list ol li .hostel-info p.price {
  font-size: 18px;
  color: #ff2d60;
  font-weight: 700;
  margin-bottom: 15px;
}

main section.popular-hostel-list ol li .hostel-info p {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  line-height: 3rem;
}

main section.cast-list ol {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  padding: 0px;
}

main section.cast-list ol li {
  position: relative;
}

main section.cast-list ol li:hover div {
  background: rgba(255, 45, 96, 0.25);
}

main section.cast-list ol li img {
  width: 100%;
  height: 100%;
}

main section.cast-list ol li div {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.25);
}

main section.cast-list ol li div p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

footer {
  width: 100%;
  height: 320px;
  background: #292929;
}

footer .foot {
  width: 100%;
  height: 100%;
}

footer .foot dl {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer .foot dl>dt {
  color: #e8be02;
  font-size: 18px;
  line-height: 7rem;
  margin-top: 5rem;
}

footer .foot dl dt ul li {
  line-height: 4rem;
}

footer .foot dl dt ul li a {
  color: #aaaaaa;
  font-size: 16px;
}

/*800px 이상*/
@media only screen and (min-width : 801px) {
  #wrap {
    width: 100%;
    min-width: 801px;
  }

  main>section.popular-hostel-list ol {
    height: 400px;
  }

  main>section.popular-hostel-list ol li {
    flex-basis: 33.33%;
  }

  main>section.popular-hostel-list ol li:hover {
    flex-basis: 66.66%;
  }

  main>section.popular-hostel-list ol li:hover img {
    transform: scale(1.5);
  }

  main section.cast-list ol li {
    flex: 0 0 25%;
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: block;
  }
}

/*800px 이하*/
@media only screen and (max-width : 800px) {
  header {
    justify-content: center;
  }

  main>section.popular-hostel-list ol {
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
  }

  main>section.popular-hostel-list ol li {
    flex-basis: 100%;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0;
    padding:0;
  }

  main>section.popular-hostel-list ol li img {
    min-height: 100%;
    margin: 0;
    padding:0;
  }

  main section.cast-list ol li {
    flex: 0 0 50%;
    overflow: hidden;
  }

  footer {
    display: none;
  }
}